@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-image: hsla(178, 100%, 50%, 0.562);
  --body: hsl(217, 54%, 11%);
  --card: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.125rem;
  background: var(--body);
  font-family: "Outfit", sans-serif;
}

.wrapper {
  background: var(--card);
}

.stats {
  border-bottom: 1px solid var(--line);
}

h1,
h2,
span {
  color: var(--cyan);
  font-weight: 600;
}

p,
h3 {
  color: var(--soft-blue);
}

p,
span {
  font-weight: 300;
}

.overlay {
  background: var(--cyan-image);
}

h1,
span {
  transition: 0.15s ease-in-out;
}

h1:hover,
span:hover {
  color: var(--soft-blue);
  cursor: pointer;
}

.attribution { 
  font-size: 11px; text-align: center; 
  color: white;
}
.attribution a { 
  color: var(--cyan); 
}

@media (max-width: 425px) {
  body {
    padding: 0 2vw;
  }
  .wrapper {
    width: 100%;
    padding: 5vw;
  }
  h1 {
    font-size: 6vw !important;
  }
  p,
  h2,
  h3 {
    font-size: 4.5vw !important;
  }
  .avatarImage {
    width: 12.5%;
  }
}
